.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 9%;
    background: #f3f3f3;
    animation: fade-down 0.3s 0.2s backwards;
    border-bottom: 5px solid black;
  }
  
  @keyframes fade-down{
    0% {
      opacity: 0;
      transform: translateY(-30px) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  .header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #020202;
    -webkit-box-flex: 0 0 140px;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
  }
  .header .logo i {
    color: #020202;
    max-width: 140px;
  }
  .header .navbar ul {
    list-style: none;
  }
  
  .header .navbar ul li {
    position: relative;
    float: left;
  }
  
  .header .navbar ul li:hover ul {
    display: block;
  }
  
  .header .navbar ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.7rem;
    color: #020202;;
  }
  
  .header .navbar ul li a:hover {
    background: #fa1d86;
  }
  
  .header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: #f3f3f3;
    display: none;
  }
  
  .header .navbar ul li ul li {
    width: 100%;
  }
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header {
      padding: 2rem;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #f3f3f3;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar ul li {
      width: 100%;
    }
    .header .navbar ul li ul {
      width: 100%;
      position: relative;
    }
  
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }