
<div class="header">
    <nav class="navbar">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">Scholarships+</a>
          <ul>
              <li><a href="course-1.html">A Scholarships</a></li>
              <li><a href="course-2.html">B Scholarships</a></li>
              <li><a href="course-3.html">C Scholarships</a></li>
          </ul>
    </li>
    </ul>
    </nav>
  <div>
    <a href="/" class="logo"> <i class="fas fa-graduation-cap"></i> Scholarship Finder</a>
    </div>
  
      <nav class="navbar">
          <ul>
  
          <li><a href="#">Report</a>
            <ul>
          <li><a href="course-1.html">Type A</a></li>
          <li><a href="course-2.html">Type B</a></li>
          <li><a href="course-3.html">Type C</a></li>
             </ul>
          </li>
          <li><a href="#">Sign In</a>
               <ul>
                      <li><a href="teachers.html">Students</a></li>
                      <li><a href="blog.html">Staff</a></li>
                      <li><a href="http://localhost:4200/Admin">Admin</a></li>
              </ul>
           </li>
          </ul>
      </nav>
  </div>
