<div class="sidenav-container">
  <div class="logo-container">
      <span class="logo"><a href="http://localhost:4200/dashboards"><img src="assets/logo1.png"></a></span>
      <span class="logo2"><img src="assets/teacher.PNG"></span>
      <br><br>
      <div class="wrap">
      <h2 class="user">Seras Victoria</h2>
    </div>
  </div>
  <ul class="sidenav-nav-menu">
      <li><i class="fas fas fa-chart-bar"></i><p><a routerLink="/dashboard">Overview</a></p></li>
      <li><i class="fas fa-graduation-cap"></i><p><a href="http://localhost:4200/merch">Scholarship Management</a></p></li>
      <li><i class="fas fa-id-badge"></i><p><a href="http://localhost:4200/user">User Management</a></p></li>
      <li><i class="fas fa-exclamation-triangle"></i><p><a href="http://localhost:4200/user">Report Issues</a></p></li>
  </ul>
  <ul>
      <li><i class="fas fa-cog"></i><p><a href="https://www.youtube.com/watch?v=Ddpx0JLOH6o">Settings</a></p></li>
      <li><i class="fas fa-chevron-circle-left"></i><p><a routerLink=""><b>Log Out</b></a></p></li>
  </ul>
</div> 




