<!-- home section starts  -->
  
  <section class="home">
  
    <div class="image">
        <img src="assets/home-img.png" alt="">
    </div>
  
    <div class="content">
        <h3>your course to success</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa cumque neque quam amet perferendis sed rem ut tenetur porro praesentium.</p>
        <a href="#" class="btn">get started</a>
    </div>
  
  </section>
  
  <!-- home section ends -->
  
  <!-- tags starts -->
  <br><br>
    <div class="tag">
    <h3>--- Categories ---</h3>
    </div>
  <br>
  <!-- tags ends -->
  
  <!-- categories section starts  -->
  
  <section class="category">
      <a href="#" class="box">
          <img src="assets/smart.gif" alt="">
          <h3>Academic Scholarships</h3>
      </a>
  
      <a href="#" class="box">
          <img src="assets/sports.gif" alt="">
          <h3>Athletic Scholarships</h3>
      </a>
  
      <a href="#" class="box">
          <img src="assets/social.gif" alt="">
          <h3>Social Scholarships</h3>
      </a>
  
      <a href="#" class="box">
          <img src="assets/talent.gif" alt="">
          <h3>Singer Scholarships</h3>
      </a>
  
      <a href="#" class="box">
          <img src="assets/dance.gif" alt="">
          <h3>Dance Squad Scholarships</h3>
      </a>
  </section>
  <section class="category">
    <a href="#" class="box">
        <img src="assets/smart.gif" alt="">
        <h3>Academic Scholarships</h3>
    </a>
  
    <a href="#" class="box">
        <img src="assets/sports.gif" alt="">
        <h3>Athletic Scholarships</h3>
    </a>
  
    <a href="#" class="box">
        <img src="assets/social.gif" alt="">
        <h3>Social Scholarships</h3>
    </a>
  
    <a href="#" class="box">
        <img src="assets/talent.gif" alt="">
        <h3>Singer Scholarships</h3>
    </a>
  
    <a href="#" class="box">
        <img src="assets/dance.gif" alt="">
        <h3>Dance Squad Scholarships</h3>
    </a>
  </section>
  <!-- categories section ends -->
  <!-- tags starts -->
  <br><br>
    <div class="tag">
    <h3>--- Events ---</h3>
    </div>
  <br>
  <!-- tags ends -->
  
  <!-- events start -->
  <section class="event">
  
  </section>
  <!-- events ends -->
  
  <!-- tags starts -->
  <br><br>
    <div class="tag">
    <h3>--- Learn More ---</h3>
    </div>
    <br><br><br>
  <!-- tags ends -->
  
  <!-- learn more starts -->
  <section class="home">
  
  
    <div class="content">
        <h3>Wanna know why we do it?</h3>
        <p>Because I also dont fucking know</p>
        <a href="#" class="btn">Learn More</a>
    </div>
  </section>
  <!-- learn more ends -->