<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
</head>
<body>
  <div class="registration">
  <div class="registration-screen">
    <div class="app-title">
      <h1 class="Headings">Register</h1>
    </div>

    <div class="registration-form">
      <div class="container">
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="TextStyle1" placeholder="Enter Email" name="email" id="email" required>
      <div class="control-group">
        <label for="psw"><b>Password</b></label>
        <input type="TextStyle1" placeholder="Enter Password" name="psw" id="psw" required>
      <div class="control-group">
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="TextStyle1" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    </div>
         <div>
      <button type="submit" class="registerbtn" input type="Submit" onclick="alert('You are now Registered!')"  value="Submit">Register</button>
    </div>

       <div class="container signin">
      <p class="TextStyle2">Already have an account? <a href="http://localhost:4200/login">Login</a>.</p>
    </div>

       </div>
      </div>
     </div>
     </div>
  </div>
  </body>
   </html>
