<section class="footer">

    <div class="box-container">

        <div class="box">
            <label for="touch"><span>Explore</span></label>  
            <input type="checkbox" id="touch" class="input"> 

            <ul class="slide">
            <a href="home.html"> <i class="fas fa-play fa-sm"></i> Home </a>
            <a href="about.html"> <i class="fas fa-play fa-sm"></i> About </a>
            </ul>
        </div>
        <div class="box">
            <label for="touch2"><span>Scholarships</span></label>  
            <input type="checkbox" id="touch2" class="input"> 

            <ul class="slide2">
            <a href="#"> <i class="fas fa-play fa-sm"></i> University Scholarships</a>
            <a href="#"> <i class="fas fa-play fa-sm"></i> DepEd Scholarships</a>
            <a href="#"> <i class="fas fa-play fa-sm"></i> DOST Scholarships</a>    
            </ul>
        </div>

        <div class="box">
            <label for="touch3"><span>Support Links</span></label>  
            <input type="checkbox" id="touch3" class="input"> 

            <ul class="slide3">
            <a href="#"> <i class="fas fa-play fa-sm"></i> Privacy Policy </a>
            <a href="#"> <i class="fas fa-play fa-sm"></i> Term of Service </a>
            <a href="#"> <i class="fas fa-play fa-sm"></i> Issue Report </a>
            <a href="#"> <i class="fas fa-play fa-sm"></i> Contact Us </a>
             </ul>
        </div>

        <div class="box">
            <label for="touch4"><span>Follow Us</span></label>  
            <input type="checkbox" id="touch4" class="input"> 

            <ul class="slide4">
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </ul>
        </div>

    </div>

    <div class="credit"> Created by <b>© 2023 Rein Corp.</b> | All rights reserved! </div>

</section>
