

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard [Teacher Side]</h1>
                </div>
        
            </div>

            <!-- Insights -->
            <ul class="insights">
                <li>
                    <i class='bx bx-mail-send'></i>
                    <span class="info">
                        <h3>
                            250
                        </h3>
                        <p>Scholarship Request</p>
                    </span>
                </li>
                <li><i class='bx bx-edit-alt'></i>
                    <span class="info">
                        <h3>
                            150
                        </h3>
                        <p>Reviews</p>
                    </span>
                </li>
                <li><i class='bx bx-add-to-queue'></i>
                    <span class="info">
                        <h3>
                            50
                        </h3>
                        <p>Available Scholarships</p>
                    </span>
                </li>
                <li><i class='bx bx-group'></i>
                    <span class="info">
                        <h3>
                            5
                        </h3>
                        <p>Online Teachers</p>
                    </span>
                </li>
            </ul>
            <!-- End of Insights -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Recent Requests</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Scholarship Applied</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="assets/teacher.PNG">
                                    <p>Walter Dornez</p>
                                </td>
                                <td>14-08-2023</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/teacher.PNG">
                                    <p>Integra Hellsing</p>
                                </td>
                                <td>14-08-2023</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/teacher.PNG">
                                    <p>Rip Van Winkle</p>
                                </td>
                                <td>14-08-2023</td>
                                <td><span class="status declined">Declined</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Reminders -->
                <div class="reminders">
                    <div class="header">
                        <i class='bx bx-note'></i>
                        <h3>Personal Remiders</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-plus'></i>
                    </div>
                    <ul class="task-list">
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Meeting with other teachers at 2:00PM on 11/19/13 </p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Requests for "DOST Scholarships" are to be put on hold</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>Buy new folders and pens</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                    </ul>
                </div>

                <!-- End of Reminders-->

            </div>

        </main>


