<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>explore</h3>
            <a href="home.html"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="about.html"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="course-1.html"> <i class="fas fa-arrow-right"></i> Scholarships </a>
        </div>

        <div class="box">
            <h3>Scholarships</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Academic Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Athletic Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> C Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> D Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> E Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> F Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> G Scholarships</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> H Scholarships</a>
        </div>

        <div class="box">
            <h3>Support Links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Privacy Policy </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Term of Service </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Issue Report </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Contact Us </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by <span>Group 3</span> | all rights reserved! </div>

</section>
