<body>
  <div class="product">
    <h2 style="text-align:center"><b>COCO</b><P>"Where Every Coconut Counts"</P></h2>

  </div>

<body>

<table class="center">
  <tr>
<th><div class="card">
  <img src="../../../assets/5.png"style="width:100%">
  <h1>Coco Fragrance</h1>
  <p class="price">$10.99</p>
  <p>Coconut fragrance is a delightful and popular scent that captures the essence of tropical paradise.The fragrance of coconut is sweet and nutty with a hint of creaminess. </p>
  <p><button>Add to Cart</button></p>
</div>
</th>

<th>
  <div class="card">
    <img src="../../../assets/4.png"style="width:100%">
    <h1>Coco Candles</h1>
    <p class="price">$8.99</p>
    <p> These candles are carefully crafted to infuse your home with the rich, sweet, and creamy aroma of coconuts, creating an inviting and cozy ambiance.</p>
    <p><button>Add to Cart</button></p>
  </div>
</th>
  </tr>
  <tr>

<th>
  <div class="card">
    <img src="../../../assets/2.png" style="width:100%">
    <h1>Coco Soap</h1>
    <p class="price">$6.99</p>
    <p>Immerse yourself in the soothing embrace of our coconut soap, where the gentle touch of nature meets the art of skincare.</p>
    <p><button>Add to Cart</button></p>
  </div>
</th>

<th>
  <div class="card">
    <img src="../../../assets/3.png"  style="width:100%">
    <h1>Coco Shampoo</h1>
    <p class="price">$10.99</p>
    <p>Coconut shampoo is a rejuvenating hair care product that harnesses the natural benefits of coconuts to cleanse, nourish, and revitalize your hair.</p>
    <p><button>Add to Cart</button></p>
  </div>
</th>
  </tr>
  <tr>
<th>
  <div class="card">
    <img src="../../../assets/1.png"  style="width:100%">
    <h1>Coco Oil</h1>
    <p class="price">$5.99</p>
    <p>Unleash the power of pure coconut goodness with our Coconut Oil, a multi-purpose elixir that has been cherished for centuries. </p>
    <p><button>Add to Cart</button></p>
  </div>
</th>
<th>
  <div class="card">
    <img src="../../../assets/6.png"  style="width:100%">
    <h1>Coco Serum</h1>
    <p class="price">$7.00</p>
    <p>A tropical elixir that encapsulates the beauty secrets of the coconut palm. </p>
    <p><button>Add to Cart</button></p>
  </div>
</th>
</tr>
</table>

<div class="footer">
  <p>&copy; COCO ESSENTAILS </p>
</div>

</body>
