<body>
<div class="btn">
    <button type="submit" class="btn btn-primary" id="newaccount"><b>Create New Account</b></button>
  </div>

  <div class="container col-md-4" id="panel2">

   <h2>Create User Account</h2>
  </div>

  <hr>

  <div class="container col-md-4" id="panel2">
<form role="form">

  <div class="form-group col-md-12">
    <label>
      <input type="checkbox" checked> Active?
    </label>
  </div>

  <div class="form-group col-md-6">
    <label for="username">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="username" required>
  </div>
  <div class="form-group col-md-6">
    <label for="password">Password</label>
    <input type="text" class="form-control" name="password" placeholder="password" required>
  </div>

  <div class="form-group col-md-4">
    <label for="fn">First Name</label>
    <input type="text" class="form-control" name="fn" placeholder="Firstname" required>
  </div>
  <div class="form-group col-md-8">
    <label for="ln">Last Name</label>
    <input type="text" class="form-control" name="ln" placeholder="Lastname" required>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
    <label class="form-check-label" for="gridRadios1">
      Male
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
    <label class="form-check-label" for="gridRadios2">
      Female
    </label>
  </div>
  <div class="form-group col-md-6">
    <label for="email">Email address</label>
    <input type="text" class="form-control" name="email" placeholder="@gmail.com">
  </div>
  <div class="form-group col-md-6">
    <label for="phone">Phone Number <span class="small">(optional)</span></label>
    <input type="tel" class="form-control" name="phone" placeholder="09*********">
  </div>

  <div class="form-group col-md-8">
    <label for="access">Authorized to Access Order Status</label>
    <input type="text" class="form-control text-uppercase" name="cus_no" placeholder="Name, *DC, *ALL">
  </div>

  <hr>

  <div class="col-md-12 text-right">
    <button type="submit" class="btn btn-primary">Create Account</button>
    <button type="submit" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-danger pull-right">Delete Account</button>
  </div>

  <div class="footer">
    <p>&copy; COCO ESSENTAILS </p>
</div>

</form>

</div>

</body>
